@media (max-width: 1200px) {
  body {
    .card img {
      height: 8em;
    }
  }
}

@media (max-width: 992px) {
  body {
    .card img {
      height: 6em;
    }
  }
}

@media (max-width: 768px) {
  body {
    .card img {
      height: 4em;
    }
  }
}

@font-face {
  font-family: Mario;
  src: url(../fonts/super-mario-maisfontes.8c93/super-mario.ttf);
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url(../img/background.jpg) ;
  background-size: cover;
  background-position: 1%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  zoom: 0.8;
}

.container {
  height: 100vh;
}

.mensagem {
  height: 100vh;
}

.card {
  background: none;
  border: none;
}

.col-xxl-2 {
  background-image: url(../img/tubo.png);
  background-repeat: no-repeat;
  background-size: 100%;
  height: 11em;
}

.card {
  display: flex;
  align-items: start;
  justify-content: center;
} 



.card img {
  height: 10em;
}

.row {
  margin: 1em;
}

.img {
  height: 10em;
  display: flex;
  align-items: start;
  justify-content: center;
}

.btn {
  height: 8em;
}

.score {
  font-family: Mario;
  font-size: 4em;
  color: #000;
}

.moeda {
  height: 0.9em;
}

.life {
  margin-top: -0.8em;
}

.points {
  margin-top: 0.8em;
}

.moeda {
  margin-bottom: 15px;
  margin-left: 1em;
}

.mensagem {
  font-family: Mario;
  font-size: 10em;
  color: #000;
  width: 30em;
}